In [1]:
# Importing packages and data 
import pandas as pd
import random
complete_dataset = pd.read_csv("rating_complete.csv")

In [2]:
# Previewing data
complete_dataset.head(50)

    user_id  anime_id  rating
0         0       430       9
1         0      1004       5
2         0      3010       7
3         0       570       7
4         0      2762       9
5         0       431       8
6         0       578      10
7         0       433       6
8         0      1571      10
9         0       121       9
10        0       356       9
11        0      1250       7
12        0      2913       6
13        0      1689       6
14        0        68       6
15        0      1829       7
16        0       600       6
17        0      3418       9
18        0       164       8
19        0      1894       7
20        0       415      10
21        0      2236      10
22        0       448       5
23        0      2034       8
24        0      2547       7
25        0       169       7
26        0       199       8
27        0       174       4
28        0      2543       7
29        0       466       7
30        0       459       9
31        0      1047       6
32        0      2248       6
33        0      4086       6
34        0       419       8
35        1     22535       9
36        1     32281      10
37        1     38000       9
38        1     18679       6
39        1     37497       8
40        1     40221       8
41        1     37999       8
42        1     28851       9
43        1     11061       9
44        1     37965       9
45        1     30831       7
46        1     38826       8
47        1     11771       7
48        1     16894       7
49        1     24415       7

In [3]:
# Understanding data
rows = complete_dataset.shape[0]
print(rows)

57633278

In [4]:
# Finding useful variable max_anime_id
max_anime_id = complete_dataset['anime_id'].max()
print(max_anime_id)

48456

In [5]:
# Finding useful variable max_user_id
max_user_id = complete_dataset['user_id'].max()
print(max_user_id)

353404

In [6]:
# Counting number of views each anime got, number of anime each user has watched and 
# storing start index of each user in complete dataset so that we can easily access any user later on
no_of_anime_watched = []
no_of_views = []
start_index = []

for i in range(max_anime_id+1):
    no_of_views.append(0)
    
for i in range(max_user_id+1):
    no_of_anime_watched.append(0)
    start_index.append(0)

for i in range(rows):
    user_id = complete_dataset['user_id'].iloc[i]
    anime_id = complete_dataset['anime_id'].iloc[i]
    no_of_anime_watched[user_id] += 1
    no_of_views[anime_id] += 1
    if user_id != complete_dataset['user_id'].iloc[i-1]:
        start_index[user_id] = i

In [11]:
# We take anime with high views only
# Here, we are counting the number of such anime
# I chose anime which more than 42000 users watched because their number was around 250
# I chose training data of size 5000, so I maintained ratio of users to number of anime as in complete dataset

count = 0
for i in range(max_anime_id+1):
    if no_of_views[i] > 42000:
        count += 1
count

253

In [57]:
# Generating random unique samples, apendding them to lists and generating final DataFrames
# Training sample has 5000 users, testing and validation sets have 1000 each
# Users who have watched more shows than 40 were specifically chose to reduce sparsity
# Therefore, a random sample was generated which was more than 7000 in size.
# There might be instances where a user has watched more than 40 anime but none of them have more than 42000 views
# In such cases, a user will not be added. 
# Thus few more users were chosen added to list than required and later, the extras were manually delete

temp_list1 = []
temp_list2 = []
temp_list3 = []
counter = 0
k = 0

random_sample = random.sample(range(max_user_id), 20000)

while counter < 5007:
    user_id = random_sample[k]

    if no_of_anime_watched[user_id] >= 40 and start_index[user_id+1] != 0:
        counter += 1

        for i in range(start_index[user_id],start_index[user_id+1]):
            anime_id = complete_dataset['anime_id'].iloc[i]
            if no_of_views[anime_id] >= 42000:
                temp_list1.append(user_id)
                temp_list2.append(anime_id)
                temp_list3.append(complete_dataset['rating'].iloc[i])
    k += 1

training_data = pd.DataFrame(list(zip(temp_list1,temp_list2,temp_list3)), columns = ['user_id','anime_id','rating'])

temp_list1.clear()
temp_list2.clear()
temp_list3.clear()

counter = 0

while counter < 1001:
    user_id = random_sample[k]

    if no_of_anime_watched[user_id] >= 40 and start_index[user_id+1] != 0:
        counter += 1
        index = start_index[user_id]

        for i in range(start_index[user_id],start_index[user_id+1]):
            anime_id = complete_dataset['anime_id'].iloc[i]
            if no_of_views[anime_id] >= 42000:
                temp_list1.append(user_id)
                temp_list2.append(anime_id)
                temp_list3.append(complete_dataset['rating'].iloc[i])
    k += 1

validation_data = pd.DataFrame(list(zip(temp_list1,temp_list2,temp_list3)), columns = ['user_id','anime_id','rating'])

temp_list1.clear()
temp_list2.clear()
temp_list3.clear()

counter = 0

while counter < 1001:
    user_id = random_sample[k]

    if no_of_anime_watched[user_id] >= 40 and start_index[user_id+1] != 0:
        counter += 1
        index = start_index[user_id]

        for i in range(start_index[user_id],start_index[user_id+1]):
            anime_id = complete_dataset['anime_id'].iloc[i]
            if no_of_views[anime_id] >= 42000:
                temp_list1.append(user_id)
                temp_list2.append(anime_id)
                temp_list3.append(complete_dataset['rating'].iloc[i])
    k += 1

testing_data = pd.DataFrame(list(zip(temp_list1,temp_list2,temp_list3)), columns = ['user_id','anime_id','rating'])

In [82]:
# Priting number of users in each data set
print(training_data['user_id'].unique().size,validation_data['user_id'].unique().size,testing_data['user_id'].unique().size)

5000 1000 1000

In [81]:
# Deleting extras manually and verifying using above cell
training_data.drop(index=training_data.index[-1:], 
        axis=0, 
        inplace=True)
training_data.tail()

        user_id  anime_id  rating
351780   201527      6045       8
351781   201527     37779       9
351782   201527     26055       8
351783   201527     20899       8
351784   201527     14719       8

In [83]:
# Saving training, validation and testing data
training_data.to_csv("training_data.csv",index=False)
validation_data.to_csv("validation_data.csv",index=False)
testing_data.to_csv("testing_data.csv",index=False)